RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?allqart.com$
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public/$1
RewriteCond %{HTTP_HOST} ^(www.)?allqart.com$
RewriteRule ^(/)?$ public/index.php [L]

#Security Settings. Don't change this
options -Indexes
<Files .env>
	Order allow,deny
	deny from all
</Files>